@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica Neue', 'Inter', sans-serif;
    background-color: #FFFFFF;
    /*background-color: #FAFAFA; !* Light-gray background *!*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', 'Inter', sans-serif;
    font-weight: normal !important; /* Make headings not bold */
}

/*a {*/
/*    color: inherit !important; !* Inherit color from parent *!*/
/*}*/

.section {
    padding: 2rem 0;
}

.profile-section {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

.profile-section > div {
    margin-right: 2rem;
}

.profile-section > div:last-child {
    margin-right: 0;
}

.divider {
    border-bottom: 1px solid #eaeaea;
    margin: 2rem 0;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.publication-entry {
    display: flex;
    overflow: hidden;
    height: 120px; /* Fixed height for publication entry box */
}

.publication-video {
    position: relative;
    /* Remove height constraint */
    /*height: auto;*/
}

.publication-video a {
    display: block;
    width: auto;
}

.publication-video video {
    width: 160px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.5s ease;
}

.publication-entry:hover .publication-video video {
    transform: scale(1.05);
}

.publication-details {
    flex: 1;
    /*padding-right: 1rem;*/
    display: flex;
    flex-direction: column;
    object-position: top;
    justify-content: flex-start;
}

.publication-details h3, .publication-details p {
    color: #000 !important; /* Black text */
}

.publication-details .author {
    margin-bottom: 0.5rem;
}

.publication-details .actions {
    margin-top: auto; /* Push buttons to the bottom */
    display: flex;
    /*gap: 0.5rem;*/
}
